body {
  background-color: white;
  box-sizing: border-box;
  width: 100%;
}

.welcome {
  color: black;
  text-align: center;
}

h1 {
  padding-top: 20%;
  text-align: center;
}

#title_caption{
  font-size:"10px";
}

.calibri {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

ul {
  position: fixed;
  list-style-type: none;
  padding: 25px;
  background-color: black;
  width: 100%;
  color: white;
  left: 0px;
  right: 0px;
  top: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
}

li {
  margin-left: 5%;
  padding: 25px;
  display: inline;
  color: white;
}

li:hover {
  background-color: rgb(107, 107, 107);
  color: white;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}
